footer{
    background-color:antiquewhite;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

a:hover {
  color: #960a1d;
  text-decoration: underline;
}

header {
  background-color:antiquewhite;
}

header img.logo {
  padding: 10px;
  max-width: 200px;
}

h1 {
  color: #960a1d;
}

footer li {
  list-style-type: square;
}

.flex_row {
  display: flex;
  flex-direction: row;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.class icone {
  max-width: 30px;
  max-height: 30px;
  }

.petit_chevron {
  max-width: 20px;
  max-height: 20px;
  }

/*# BURGER */
nav
{
    margin: 100px auto;
    width: 50%;
    height: 100px;
    background: #48435C;
}
 
nav .main_pages
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
}
 
nav a:hover
{
    background: #5A5766
}
label
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages
    {
        display: none;
    }
 
    label
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
}
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}




/*# menu burger */

nav
{
    margin: 100px auto;
    width: 50%;
    height: 100px;
    background: #48435C;
}
 
nav .main_pages
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
}
 
nav a:hover
{
    background: #5A5766
}
label
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages
    {
        display: none;
    }
 
    label
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
}
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages
    {
        display: none;
        flex-direction: column;
        background: #48435C;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}
