body {
  max-width: 1000px;
  margin: 0 auto;
}
header {
  img.logo {
    padding: 10px;
    max-width: 200px;
  }
}
ul#slider {
  list-style: none;

  li {
    cursor: pointer;
  }
  img {
    display: block;
    height: auto;
    max-height: 100%;
  }
}

.lightSlider > li {
  position: relative;
}
div.caption h1 {
  background-color: #960a1d;
  display: inline-block;
  vertical-align: middle;
  max-height: 35px;
  position: absolute;
  bottom: 10%;
  left: 10%;
  padding: 30px;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.flex-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 350px 350px 350px;
  gap: 20px;
  background-color: DodgerBlue;
  > dl {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
}
h1 {
  color: #960a1d;
}

.petit_chevron {
  max-width: 20px;
  max-height: 20px;
}
